.container{
    width: 1000px;
    height: 1000px;
    margin: 0px auto;
    background-color: white;
}
.row{
    display: flex;
}
.blue{
    flex:1;
    height: 350px;
    background-color: blue;
}
.empty{
    height: 350px;
    flex:2;
}
.white{
    height: 50px;
}
.red{
    height: 50px;
    background-color: red;
}

img{
    height: 25px;
}

.space {
    margin-top: 13px;
    justify-content: center;
    justify-content: space-around;
}

.odd{
    justify-content: space-evenly;
}