*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.row{
    display: flex;
}

.segment{
    margin-top: 10px;
    align-items: center;
    gap: 10px;
}

.navBar{
    background-color: teal;
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
    min-width: 600px;
    justify-content: space-between;
    align-items: center;
}

.navItems{
    gap: 20px;
    color: whitesmoke;
    align-items: center;
}

.btn{
    background-color:lightseagreen;
    color: whitesmoke;
    padding: 10px;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}

.main{
    flex:2;
    margin-right: 10px;
}

.side{
    flex:1;
    margin-left: 10px;
}

.card{
    margin-bottom: 20px;
    border: 1px solid gray;
}

.banner{
    background-color: cadetblue;
    height: 50px;
    padding: 20px;
}

.banner.title{
    height: auto;
}

.avatar{
    height: 100px;
    margin-top: 20px;
}

.userInfo{
    margin-top: 30px;
    padding: 20px;
}

.info{
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
}

.title{
    font-size: 30px;
}

.icon{
    height: 30px;
}

.num{
    background-color: gray;
    border-radius: 50%;
    padding: 5px;
}